{%extends "base.html"%}
{%block content%}
{% load static %}
<main class="app-main">
  <!-- .app-main -->
  <div class="wrapper">
    <!-- .wrapper -->
    <div class="page ">
      <!-- .page -->
      <div class="page-inner">
        <!-- .page-inner -->
        <header class="page-title-bar">
          <!-- .page-title-bar -->
          <!-- grid row -->
          <div class="row text-center text-sm-left">
            <!-- grid column -->
            <div class="col">
              <h1 class="page-title"> Agents List
                <button type="button" id="download_agent" class="btn btn-success btn-sm float-right" title="Download"><i
                    class="fa fa-download" aria-hidden="true"></i> Download</button>
                <a href="add_agent/" class="btn btn-secondary btn-sm float-right mr-2"><i class="fa fa-plus"></i> Add
                  New</a>
              </h1>
            </div>
            <!-- /grid column -->
          </div>
          <!-- /grid row -->
        </header>
        <!-- .page-section -->
        <div class="page-section">
          <!-- .card -->
          <div class="card card-fluid">
            <!-- .card-body -->
            <div class="card-body">
              <!-- .table -->
              <div class="table-responsive">
                {% comment %}
                <div id="tblList_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="tblList_length">
                        <label>
                          Show
                          <select name="tblList_length" aria-controls="tblList" class="custom-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entries
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="tblList_filter" class="dataTables_filter"><label>Search:<input type="search"
                            class="form-control" placeholder="" aria-controls="tblList"></label></div>
                    </div>
                  </div>
                  {% endcomment %}

                  <div class="table-responsive">
                    <div class="dataTables_scroll">
                      <div class="dataTables_scrollHead" style="position: relative; border: 0px; width: 100%;">
                        <div class="dataTables_scrollHeadInner"
                          style="box-sizing: content-box; width: auto; padding-right: 0px;">
                          <table class="table table-striped1 table-hover no-wrap table-bordered no-footer dataTable"
                            aria-describedby="tblInsurance_info" role="grid"
                            style="margin-left: 0px; width: 5774.97px;">

                          </table>
                        </div>
                      </div>
                      <div class="dataTables_scrollBody" style="position: relative;  width: 100%;">
                        <table id="tblInsurance"
                          class="table table-striped1 table-hover no-wrap table-bordered no-footer dataTable"
                          aria-describedby="tblInsurance_info" role="grid">

                          <thead style="border-bottom: inset;">
                            <tr role="row" ">
                                   <th class=" text-center sorting thShow" tabindex="0" aria-controls="tblInsurance"
                              rowspan="1" colspan="1" style="width: 83.2344px;"
                              aria-label="Sr.No.: activate to sort column ascending">Sr.No.</th>

                              <th class="sorting">POSP Code</th>
                              <th class="sorting thShow">Reg. Code</th>
                              <th class="sorting">POSP Name </th>
                              <th class="sorting thShow">Gender</th>
                              <th class="sorting  thShow">Email</th>
                              <th class="sorting">Mobile No.</th>
                              <th class="sorting">Addrees</th>
                              <th class="sorting">State</th>
                              <th class="sorting">City</th>
                              <th class="sorting">Pincode</th>
                              <th class="sorting">Rural Urban</th>
                              <th class="sorting">Slab </th>
                              <th class="sorting">GSTIN </th>
                              <th class="sorting thShow">Bank Account No </th>
                              <th class="sorting">IFSC Code</th>
                              <th class="sorting">Bank Name</th>
                              <th class="sorting">Basic Qqualification</th>
                              <th class="sorting">Aadhar Card</th>
                              <th class="sorting">Pan Card</th>
                              <th class="sorting">Training Certificate</th>
                              <th class="sorting">Appointment Certificate</th>
                              <th class="sorting">Agreement</th>
                              <th class="sorting">Bank Details</th>
                              <th class="sorting">Login ID</th>
                              <th class="sorting">Created By</th>
                              <th class="sorting">Status</th>
                              <th class="sorting">Action</th>

                            </tr>
                          </thead>

                          <tbody id="tbdy">                          

                          </tbody>
                          
                        </table>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="row align-items-center">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info" id="tblList_info" role="status" aria-live="polite">Showing entries
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7 d-flex justify-content-end">

                    </div>
                  </div> -->

                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.page-section -->
      </div>
      <!-- /.page-inner -->
    </div>
    <!-- /.page -->
  </div>
  <!-- /.wrapper -->
</main>
<!-- /.app-main -->
<div class="aside-backdrop"></div>
</div><!-- /.app -->
<div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
  <!-- .modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- .modal-content -->
    <div class="modal-content">
      <!-- .modal-header -->
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error
        </h5>
      </div>
      <!-- /.modal-header -->
      <!-- .modal-body -->
      <div class="modal-body">
        <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the error remains
          the same, you need to contact your Administrator immediately.</p>
      </div>
      <!-- /.modal-body -->
      <!-- .modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
      </div>
      <!-- /.modal-footer -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="mdlPOS">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Disable POSP </h5>
      </div>
      <div class="modal-body ">
        <div class="form-row">
          <div class="col-md-12 col-sm-12">
            <label for=""> <strong> This action will disable this POSP </strong> </label>
            <label for=""> <strong> However, you can enable this POSP, whenever needed! </strong> </label>
          </div>

        </div>

        <button class="mt-4 btn btn-primary" style="margin-bottom: -60px;" onclick="setAgentStatus()">Yes, I`m
          sure</button>


        <div class="modal-footer">
          <button id="btnExit" type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- /.modal -->
<!-- BEGIN BASE JS -->
<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>

<!-- <script src="{% static 'js/pace.min.js' %}"></script> -->
<script src="{% static 'js/stacked-menu.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js'%}"></script> <!-- END PLUGINS JS -->
<!-- Parsley -->
<script src="{%static 'js/parsley.js' %}"></script>
<!-- BEGIN THEME JS -->
<script src="{%static 'js/theme.js' %}"></script>
<!-- <script src="{%static 'js/toastr.min.js' %}"></script> -->
<script src="{%static 'js/flatpickr.min.js' %}"></script>
<script src="{%static 'js/select2.full.min.js' %}"></script>
<script src="{%static 'js/moment.js' %}"></script>
<script src="{%static 'js/mask-as-number.min.js' %}"></script>
<!-- <script src="{%static 'js/jquery.dataTables.min.js' %}"></script> -->
<!-- <script src="{%static 'js/dataTables.bootstrap.js' %}"></script> -->
<!-- <script src="{%static 'js/jquery.form.js' %}"></script> -->
<!-- <script src="{%static 'js/custom.min.js' %}"></script> -->

<script>
  selectedAgentId = null

  function downloadFile(params) {
    // alert(params)
    if (params.includes("/")) {
      index = params.lastIndexOf("/") + 1
      params = params.substring(index, params.length);
    }
    pathname = '/bima_policy/docs/download/' + params
    href = window.location.origin + pathname
    window.open(href)

  }


  function highlightT(row) {
    SelectedRow = row.cells[0].textContent;
    deHighlight();
    // row.style.backgroundColor = 'silver';
    row.style.background = '#6E11F4'
    // row.style.background = "gray"
    row.style.color = '#FFFFFF'
    row.classList.toggle("selectedRow");

    var anchorTag = row.getElementsByTagName('a'); // Replace 'a' with the appropriate tag name     

    if (anchorTag) {
      for (const iterator of anchorTag) {

        iterator.style.color = "white"
      }
    }
  }

  function deHighlightT() {
    let table = document.getElementById("tblInsurance");
    let rows = table.rows;
    for (let i = 0; i < rows.length; i++) {
      // to avoid checked 
      try {
        is_checked = document.getElementById(`chkblkrm${i}`).checked
        if (is_checked) {
          continue;
        }
      } catch { }

      rows[i].style.background = "#FFFFFF";
      rows[i].style.color = "black";

      var anchorTag = rows[i].getElementsByTagName('a'); // Replace 'a' with the appropriate tag name     

      if (anchorTag) {
        for (const iterator of anchorTag) {
          iterator.style.color = "black"
        }
      }
    }
  }


  function highlight(row) {

    SelectedRow = row.cells[0].textContent;
    deHighlight();
    row.style.background = "darkgray"
    row.style.color = 'black'
    row.classList.toggle("selectedRow");

    var anchorTag = row.getElementsByTagName('a'); // Replace 'a' with the appropriate tag name     

    if (anchorTag) {
      for (const iterator of anchorTag) {

        // iterator.style.color = "white"
      }
    }
  }

  function deHighlight() {
    let table = document.getElementById("tblInsurance");
    let rows = table.rows;
    for (let i = 0; i < rows.length; i++) {
      // to avoid checked 
      try {
        is_checked = document.getElementById(`chkblkrm${i}`).checked
        if (is_checked) {
          continue;
        }
      } catch { }

      // rows[i].style.background = "#FFFFFF";
      rows[i].style.background = "";
      // rows[i].style.color = "black";

      var anchorTag = rows[i].getElementsByTagName('a'); // Replace 'a' with the appropriate tag name     

      if (anchorTag) {
        for (const iterator of anchorTag) {
          // iterator.style.color = "black"
        }
      }
    }
  }

  function generateTableRowsAsync(records) {
    tableRows = ''
    document.getElementById('tbdy').innerHTML = ''

    if (records.length === 0) {
      showNotification('❌ ' + 'NO AGENTS!');
      return
    }

    for (var i = 0; i < records.length; i++) {

      record = records[i]

      recordHtml = '<tr class="policy-row" onclick="highlight(this)"  >' +
        '<td class="text-center" > ' + (i + 1) + '</td>' +
        '<td >' + record.posp_code + '</td>' +
        `<td > <a href="" class="tile tile-img" target="_blank"><i class="far fa-file-pdf text-danger mt-1"></i></a> <a href="/bima_policy/agent/edit_agent/${record.login_id}" class=""> ${record.registration_code}</a> </td>` +
        '<td >' + record.full_name + '</td>' +
        '<td >' + record.gender + '</td>' +
        '<td >' + record.email_id + '</td>' +
        '<td >' + record.mob_no + '</td>' +
        '<td >' + record.address + '</td>' +
        '<td >' + record.state + '</td>' +
        '<td >' + record.city + '</td>' +
        '<td >' + record.pincode + '</td>' +
        '<td >' + record.rural_urban + '</td>' +
        '<td >' + record.slab + '</td>' +
        '<td >' + record.GSTIN + '</td>' +
        '<td >' + record.account_no + '</td>' +
        '<td >' + record.ifsc_code + '</td>' +

        '<td >' + record.bank_name + '</td>' +

        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.basic_qualification}')">${record.basic_qualification}</a> </td>` +
        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.aadhar_card}')">${record.aadhar_card}</a> </td>` +
        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.pan_card}')">${record.pan_card}</a> </td>` +
        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.training_certificate}')">${record.training_certificate}</a> </td>` +
        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.appointment_certificate}')">${record.appointment_certificate}</a> </td>` +
        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.agreement_certificate}')">${record.agreement_certificate}</a> </td>` +
        `<td class="text-center" > <a href="#" onclick="downloadFile('${record.bank_details}')">${record.bank_details}</a> </td>` +

        '<td >' + record.login_id + '</td>' +
        '<td >' + record.created_by + '</td>' +

        `<td class="text-center w-10pc nowrap" > <a href="#" class="badge badge-success" >${record.status}</a> </td>` +

        `<td class="text-center"> <form method="POST">   {% csrf_token %}
         <a href="/bima_policy/agent/edit_agent/${record.login_id}"
            class="mr-1 mt-1 btn btn-sm btn-icon btn-secondary" name="Edit">
            <i class="fa fa-pencil-alt mt-2"></i>                                               
         </a>
         <a href="/bima_policy/agent/delete_agent/${record.login_id}" name="Remove"
            class="mr-1 mt-1 btn btn-sm btn-icon btn-secondary text-danger">
            <i class="far fa-trash-alt mt-2"></i> 
         </a> 
        </td>  
        </tr>`;

      tableRows += recordHtml;
    }

    showNotification('✅ TOTAL AGENTS: ' + records.length);
    document.getElementById('tbdy').innerHTML = tableRows;

  }

  function loadRecordLocalStorage() {
    // console.log('loadRecordLocalStorage calling');
    agents = JSON.parse(sessionStorage.getItem('agents'));
    if (agents == null) {
      return
    }
    generateTableRowsAsync(agents);
  }

  function fetch_records(data) {
    // console.log('fetch_records calling');
    $.ajax({
      url: "{%url 'bima_policy:fetch_records'%}",
      data: { data: data },
      dataType: 'json',
      success: function (response) {
        console.log(response.agents);
        generateTableRowsAsync(response.agents)
        sessionStorage.setItem('agents', JSON.stringify(response.agents));
      },
      error: function (xhr, status, error) {
        console.error(error);
        alert(error.toString())
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    // console.log('dom');
    loadRecordLocalStorage()
    fetch_records("agents")
  });


</script>

</body>

</html>
{%endblock%}