{%extends "base.html"%}
{%block content%}
{% load static %}
<main class="app-main">
   <!-- .wrapper -->
   <div class="wrapper">
      <!-- .page -->
      <div class="page">
         <!-- .page-inner -->
         <div class="page-inner">
            <!-- .page-title-bar -->
            <header class="page-title-bar">

               <h1 class="page-title"> Payout Form <small class="text-muted">All * marks Fields are mandatory. </small>
               </h1>
            </header>
            <!-- .page-section -->
            <div class="page-section">
               <!-- .section-block -->
               <div class="section-block">
                  <!-- page content goes here -->
                  <form name="frmpayout" method="post" autocomplete="off" data-parsley-validate="true" action="">
                     <!--url 'bima_policy:slab_payoutform'-->
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12">
                           <div class="card">
                              <!-- .card -->
                              <div class="card-body">
                                 <!-- .card-body -->
                                 <!-- .content -->
                                 <fieldset>
                                    <!-- fieldset -->
                                    <legend class="mb-2">Payout Details</legend>
                                    <div class="form-row">
                                       <div class="col-md-3 mb-3">
                                          <label>Payout Name <abbr title="Required" class="text-danger">*</abbr></label>
                                          <input type="text" name="payout_name" value="{{data.payout_name}}"
                                             class="form-control" placeholder="All RTO of HR except GGN &amp; FDB">
                                       </div>
                                       <div class="col-md-3 mb-3">
                                          <input type="hidden" value="0" required="" name="payout_id" readonly="">
                                          <label>Slab <abbr title="Required" class="text-danger">*</abbr></label>
                                          <select name="slab" id="slab" data-parsley-required="true"
                                             data-parsley-required-message="" class="custom-select">
                                             {% for value in slab %}
                                             <option value="{{value.slab_name}}">{{value.slab_name}}</option>
                                             {% endfor %}
                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Product Name<abbr title="Required" class="text-danger">*</abbr></label>
                                          <select id="product_name" name="product_name" data-parsley-required-message=""
                                             class="custom-select" id="product_name" data-parsley-required="true"
                                             multiple required onchange="selectAllItems('product_name')">
                                             <option value="MOTOR">MOTOR</option>
                                             <option value="FIRE">FIRE</option>
                                             <option value="MARINE">MARINE</option>
                                             <option value="BURGULARY">BURGULARY</option>
                                             <option value="SHOPKEEPER">SHOPKEEPER</option>
                                             <option value="ENGINEERING">ENGINEERING</option>
                                             <option value="WC">WC</option>
                                             <option value="OTHERS">OTHERS</option>
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Insurer Name<abbr title="Required" class="text-danger">*</abbr></label>
                                          <select id="insurer" name="insurer" data-parsley-required-message=""
                                             class="custom-select" multiple id="insurer" data-parsley-required="true"
                                             required onchange="selectAllItems('insurer')">
                                             {%for value in data_ins%}
                                             <option value="{{value}}">{{value}}</option>
                                             {%endfor%}
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <script>

                                       </script>
                                       <div class="col-md-3 mb-4">
                                          <label>Service Provider<abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="sp_name" name="sp_name" data-parsley-required-message=""
                                             class="custom-select" multiple id="sp_name" data-parsley-required="true"
                                             required onchange="selectAllItems('sp_name')">
                                             {%for value in data_sp%}
                                             <option value="{{value}}">{{value}}</option>
                                             {%endfor%}
                                             <option value="*"> select all </option>
                                          </select>

                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Vehicle Make By <abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="vehicle_makeby" name="vehicle_makeby"
                                             data-parsley-required-message="" multiple
                                             onchange="selectAllItems('vehicle_makeby')" data-parsley-required="true"
                                             class="custom-select" required>
                                             {%for value in data_vmb%}
                                             <option value="{{value}}">{{value}}</option>
                                             {%endfor%}
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Vehicle Model <abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="vehicle_model" d name="vehicle_model"
                                             ata-parsley-required-message="" multiple
                                             onchange="selectAllItems('vehicle_model')" data-parsley-required="true"
                                             class="custom-select" required>
                                             {%for value in data_vm%}
                                             <option value="{{value}}">{{value}}</option>
                                             {%endfor%}
                                             <option value="*"> select all </option>
                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Vehicle Catagory <abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="vehicle_catagory" name="vehicle_catagory"
                                             data-parsley-required-message="" multiple
                                             onchange="selectAllItems('vehicle_catagory')" data-parsley-required="true"
                                             class="custom-select " required>
                                             {%for value in data_vc%}
                                             <option value="{{value}}">{{value}}</option>
                                             {%endfor%}
                                             <option value="*"> select all </option>


                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Vehicle Fuel Type <abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="vehicle_fuel_type" name="vehicle_fuel_type"
                                             data-parsley-required="true" multiple
                                             onchange="selectAllItems('vehicle_fuel_type')"
                                             data-parsley-required-message="" class="custom-select" required>
                                             <option value="PETROL">PETROL</option>
                                             <option value="DIESEL">DIESEL</option>
                                             <option value="CNG">CNG</option>
                                             <option value="ELECTRIC">ELECTRIC</option>
                                             <option value="*"> select all </option>
                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label for="mfg_year">Manufacture Year <abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select  id="mfg_year"  name="mfg_year" data-parsley-required-message=""
                                             data-parsley-required="true" class="custom-select" required multiple>
                                             <option value="2021">2025</option>
                                             <option value="2021">2024</option>
                                             <option value="2021">2023</option>
                                             <option value="2021">2022</option>
                                             <option value="2021">2021</option>
                                             <option value="2020">2020</option>
                                             <option value="2019">2019</option>
                                             <option value="2018">2018</option>
                                             <option value="2017">2017</option>
                                             <option value="2016">2016</option>
                                             <option value="2015">2015</option>
                                             <option value="2014">2014</option>
                                             <option value="2013">2013</option>
                                             <option value="2012">2012</option>
                                             <option value="2011">2011</option>
                                             <option value="2010">2010</option>
                                             <option value="2009">2009</option>
                                             <option value="2008">2008</option>
                                             <option value="2007">2007</option>
                                             <option value="2006">2006</option>
                                             <option value="2005">2005</option>
                                             <option value="2004">2004</option>
                                             <option value="2003">2003</option>
                                             <option value="2002">2002</option>
                                             <option value="2001">2001</option>
                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Addon <abbr title="Required" class="text-danger">*</abbr></label>
                                          <select id="addon" name="addon" data-parsley-required="true"
                                             onchange="selectAllItems('addon')" data-parsley-required-message=""
                                             class="custom-select" required multiple>
                                             <option value="YES">YES</option>
                                             <option value="NO">NO</option>
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>NCB <abbr title="Required" class="text-danger">*</abbr></label>
                                          <select id="ncb" name="ncb" data-parsley-required="true" multiple
                                             onchange="selectAllItems('ncb')" data-parsley-required-message=""
                                             class="custom-select" required>
                                             <option value="YES">YES</option>
                                             <option value="NO">NO</option>
                                             <option value="*"> select all </option>
                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>GVW<abbr title="Required" class="text-danger">*</abbr></label>
                                          <select name="gvw" data-parsley-required-message="" class="custom-select"
                                             id="gvw" data-parsley-required="true" required
                                             onchange="selectAllItems('gvw')" multiple>
                                             <option value="BELOW 2000">BELOW 2000</option>
                                             <option value="2000-2500">2000-2500</option>
                                             <option value="2500-3500">2500-3500</option>
                                             <option value="3500-7000">3500-7000</option>
                                             <option value="7000-7500">7000-7500</option>
                                             <option value="7500-12000">7500-12000</option>
                                             <option value="12000-25000">12000-25000</option>
                                             <option value="25000-40000">25000-40000</option>
                                             <option value="ABOVE 40000">ABOVE 40000</option>
                                             <option value="*"> select all </option>
                                          </select>
                                       </div>

                                       <div class="col-md-3 mb-4">
                                          <label>Cubic Capacity<abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="cubic_capacity" name="cubic_capacity"
                                             data-parsley-required-message="" class="custom-select" id="cubic_capacity"
                                             data-parsley-required="true" multiple required
                                             onchange="selectAllItems('cubic_capacity')">
                                             <option value="BELOW 1000">BELOW 1000</option>
                                             <option value="1000-1500">1000-1500</option>
                                             <option value="ABOVE 1500">ABOVE 1500</option>
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Seating Capacity<abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="seating_capacity" name="seating_capacity"
                                             data-parsley-required-message="" class="custom-select"
                                             id="seating_capacity" data-parsley-required="true" multiple required
                                             onchange="selectAllItems('seating_capacity')">
                                             <!-- <option value=""> -- Select Seating Capacity -- </option> -->
                                             <option value="5-7">5-7</option>
                                             <option value="7-12">7-12</option>
                                             <option value="12-18">12-18</option>
                                             <option value="ABOVE 18">ABOVE 18</option>
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>Coverage Type <abbr title="Required"
                                                class="text-danger">*</abbr></label>
                                          <select id="coverage_type" name="coverage_type" data-parsley-required="true"
                                             data-parsley-required-message="" class="custom-select" required multiple
                                             onchange="selectAllItems('coverage_type')">
                                             {% for value in data_ct%}
                                             <option value="{{value}}">{{value}}</option>
                                             {% endfor%}
                                             <option value="*">select all </option>
                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4"> <!-- it is case_type in model -->
                                          <label>Policy Type <abbr title="Required" class="text-danger">*</abbr></label>
                                          <select id="case_type" name="case_type" data-parsley-required="true"
                                             data-parsley-required-message="" class="custom-select" required multiple
                                             onchange="selectAllItems('case_type')">
                                             <option value="FRESH">FRESH</option>
                                             <option value="RENEWAL">RENEWAL</option>
                                             <option value="ROLLOVER">ROLLOVER</option>
                                             <option value="ENDORSEMENT">ENDORSEMENT</option>
                                             <option value="*"> select all </option>

                                          </select>
                                       </div>
                                       <div class="col-md-3 mb-4">
                                          <label>CPA <abbr title="Required" class="text-danger">*</abbr></label>
                                          <select id="cpa" name="cpa" data-parsley-required="true" multiple
                                             onchange="selectAllItems('cpa')" data-parsley-required-message=""
                                             class="custom-select" required>
                                             <option value="YES">YES</option>
                                             <option value="NO">NO</option>
                                             <option value="*"> select all </option>
                                          </select>
                                       </div>

                                       <div class="col-md-6 mb-4 ">
                                          <label>State <abbr title="Required" class="text-danger">*</abbr></label>

                                          <button class="btn btn-default dropdown-toggle form-control btn-secondary "
                                             type="button" data-toggle="dropdown"><span class="dropdown-text"> -- Select
                                                State --</span>
                                          </button>
                                          <ul class="dropdown-menu">

                                             <li><a href="#"><label><input id='rto1' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='1' /> Andama And Nicobar Island</label></a></li>
                                             <li><a href="#"><label><input id='rto2' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='2' /> Andhra Pradesh</label></a></li>
                                             <li><a href="#"><label><input id='rto3' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='3' /> Arunachal Pradesh</label></a></li>
                                             <li><a href="#"><label><input id='rto4' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='4' /> Assam</label></a></li>
                                             <li><a href="#"><label><input id='rto5' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='5' /> Bihar</label></a></li>
                                             <li><a href="#"><label><input id='rto6' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='6' /> Chattisgarh</label></a></li>
                                             <li><a href="#"><label><input id='rto7' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='7' /> Chandigarh</label></a></li>
                                             <li><a href="#"><label><input id='rto8' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='8' /> Daman And Diu</label></a></li>
                                             <li><a href="#"><label><input id='rto9' onchange="populate1(this.id,'rto')"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='9' /> Delhi</label></a></li>
                                             <li><a href="#"><label><input id='rto10'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='10' />
                                                      Goa</label></a></li>
                                             <li><a href="#"><label><input id='rto11'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='11' />
                                                      Gujrat</label></a></li>
                                             <li><a href="#"><label><input id='rto12'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='12' /> Himachal
                                                      Pradesh</label></a></li>
                                             <li><a href="#"><label><input id='rto13'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='13' />
                                                      Haryana</label></a></li>
                                             <li><a href="#"><label><input id='rto14'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='14' />
                                                      Jharkhand</label></a></li>
                                             <li><a href="#"><label><input id='rto15'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='15' /> Jammu And
                                                      Kashmir</label></a></li>
                                             <li><a href="#"><label><input id='rto16'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='16' />
                                                      Karnataka</label></a></li>
                                             <li><a href="#"><label><input id='rto17'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='17' />
                                                      Kerala</label></a></li>
                                             <li><a href="#"><label><input id='rto18'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='18' />
                                                      LEH</label></a></li>
                                             <li><a href="#"><label><input id='rto19'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='19' />
                                                      Lakshadweep</label></a></li>
                                             <li><a href="#"><label><input id='rto20'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='20' />
                                                      Maharashtra</label></a></li>
                                             <li><a href="#"><label><input id='rto21'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='21' />
                                                      Meghalaya</label></a></li>
                                             <li><a href="#"><label><input id='rto22'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='22' />
                                                      Manipur</label></a></li>
                                             <li><a href="#"><label><input id='rto23'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='23' /> Madhya
                                                      Pradesh</label></a></li>
                                             <li><a href="#"><label><input id='rto24'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='24' />
                                                      Mizoram</label></a></li>
                                             <li><a href="#"><label><input id='rto25'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='25' />
                                                      Nagaland</label></a></li>
                                             <li><a href="#"><label><input id='rto26'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='26' />
                                                      Odisha</label></a></li>
                                             <li><a href="#"><label><input id='rto27'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='27' />
                                                      Punjab</label></a></li>
                                             <li><a href="#"><label><input id='rto28'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='28' />
                                                      Puducherry</label></a></li>
                                             <li><a href="#"><label><input id='rto29'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='29' />
                                                      Rajasthan</label></a></li>
                                             <li><a href="#"><label><input id='rto30'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='30' />
                                                      Sikkim</label></a></li>
                                             <li><a href="#"><label><input id='rto31'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='31' /> Tamil
                                                      Nadu</label></a></li>
                                             <li><a href="#"><label><input id='rto32'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='32' />
                                                      Tripura</label></a></li>
                                             <li><a href="#"><label><input id='rto33'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='33' />
                                                      Telangana</label></a></li>
                                             <li><a href="#"><label><input id='rto34'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='34' />
                                                      Uttrakhand</label></a></li>
                                             <li><a href="#"><label><input id='rto35'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='35' /> Uttar
                                                      Pradesh</label></a></li>
                                             <li><a href="#"><label><input id='rto36'
                                                         onchange="populate1(this.id,'rto')" name='options[]'
                                                         type="checkbox" class="option justone" value='36' /> West
                                                      Bengal</label></a></li>

                                             <li><a href="#"><label><input id='rto0' onchange="selectAllStates()"
                                                         name='options[]' type="checkbox" class="option justone"
                                                         value='0' /> Select All</label></a></li>

                                          </ul>
                                       </div>

                                       <div class="col-md-12 mb-4">
                                          <div class="f-group">
                                             <label>RTOs<abbr title="Required" class="text-danger">*</abbr></label>
                                             <select name="rto" id="rto" multiple hidden class="form-control">


                                             </select>

                                             <!-- This is added by Manjeet Nandal -->
                                             <!-- Ul is added in place of select element -->
                                             <style>
                                                .ula01 {
                                                   height: 150px;
                                                   overflow: auto;
                                                   border: 2px 0.8px silver;
                                                   border-radius: 5px;
                                                }

                                                .ula02 {
                                                   list-style-type: none;
                                                   margin: 0;
                                                   padding: 5;
                                                   overflow-x: hidden;
                                                }

                                                .lia03 {
                                                   margin: 0;
                                                }

                                                .labela04 {
                                                   display: block;
                                                   color: WindowText;
                                                   background-color: Window;
                                                   padding: 2px;
                                                   width: 100%;
                                                }

                                                .labela04:hover {
                                                   background-color: Highlight;
                                                   color: HighlightText;
                                                }
                                             </style>

                                             <ul class="ula01 ula02 form-control" id="rtoul" name="rtoul"
                                                onclick="addSelectedOptions()">

                                             </ul>

                                             <!-- Clear RTO List implemented by: Manjeet Nandal -->

                                             <button class="btn btn-danger mt-2" style="float: right;"
                                                onclick="clearRtoList()">Clear List</button>

                                          </div>
                                       </div>



                                 </fieldset>
                                 <p class="mb-1"></p>
                              </div>
                              <!-- /.card-body -->
                           </div>
                           <!-- /.card -->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                           <div class="card">
                              <!-- .card -->
                              <div class="card-body">
                                 <!-- .card-body -->
                                 <h4 class="card-title mb-3"> Payout Details </h4>
                                 <!-- grid row -->
                                 <div class="row mb-2">
                                    <label class="col-lg-5" for="od">OD Premium <abbr title="Required"
                                          class="text-danger">*</abbr></label><input type="text"
                                       data-parsley-group="payout" value="" class="form-control col-lg-6 maskNumField"
                                       data-mask-as-number-maxlength="10" data-parsley-required="true"
                                       data-parsley-required-message="" data-parsley-maxlength="10"
                                       data-parsley-pattern="^[0-9]+$" name="od" id="od" maxlength="10" required>
                                 </div>
                                 <div class="row mb-2">
                                    <label class="col-lg-5" for="tp">TP Premium<abbr title="Required"
                                          class="text-danger">*</abbr></label><input type="text"
                                       data-parsley-group="payout" value="" class="form-control col-lg-6 maskNumField"
                                       data-mask-as-number-maxlength="10" data-parsley-required="true"
                                       data-parsley-required-message="" data-parsley-maxlength="10"
                                       data-parsley-pattern="^[0-9]+$" name="tp" id="tp" maxlength="10" required>
                                 </div>
                                 <div class="row mb-2">
                                    <label class="col-lg-5" for="tp">TP/Terrorism<abbr title="Required"
                                          class="text-danger">*</abbr></label><input type="text"
                                       data-parsley-group="payout" value="" class="form-control col-lg-6 maskNumField"
                                       data-mask-as-number-maxlength="10" data-parsley-required="true"
                                       data-parsley-required-message="" data-parsley-maxlength="10"
                                       data-parsley-pattern="^[0-9]+$" name="tpt" id="tpt" maxlength="10" required>
                                 </div>
                                 <div class="row mb-2">
                                    <label class="col-lg-5">Net Premium</label><input type="text" name="net"
                                       onclick="add()" value="" class="form-control col-lg-6 maskNumField bg-light"
                                       data-mask-as-number-maxlength="10" data-parsley-required-message=""
                                       data-parsley-maxlength="10" data-parsley-pattern="^[0-9]+$" id="net"
                                       maxlength="10" readonly="" required>
                                 </div>
                                 <div class="row mb-2">
                                    <label class="col-lg-5" for="gst">GST <abbr title="Required"
                                          class="text-danger">*</abbr></label><input type="text"
                                       data-parsley-group="payout" value="" class="form-control col-lg-6 maskNumField"
                                       data-mask-as-number-maxlength="10" data-parsley-required="true"
                                       data-parsley-required-message="" data-parsley-maxlength="10"
                                       data-parsley-pattern="^[0-9]+$" name="gst" id="gst" maxlength="10" required>
                                 </div>
                                 <div class="row mb-2">
                                    <label class="col-lg-5">Total=(Net+GST) </label><input type="text" name="total"
                                       onclick="addgst()" value="" class="form-control maskNumField col-lg-6 bg-light"
                                       data-mask-as-number-maxlength="10" data-parsley-required-message=""
                                       data-parsley-maxlength="10" data-parsley-pattern="^[0-9]+$" id="totalnet"
                                       readonly="" maxlength="10" required>
                                 </div>
                                 <div class="row mb-2">
                                    <label class="col-lg-5 pr-0 ">Payment <br> Mode</label>
                                    <select class="custom-select col-lg-6" name="payment_mode" required>
                                       <option value=""> -- Mode -- </option>
                                       <option value="CUSTOMER ONLINE">CUSTOMER ONLINE</option>
                                       <option value="SELF ONLINE">SELF ONLINE</option>
                                       <option value="CASH">CASH</option>
                                       <option value="CUT PAY">CUT PAY</option>
                                       <option value="CUSTOMER CHEQUE">CUSTOMER CHEQUE</option>
                                       <option value="SELF CHEQUE">SELF CHEQUE</option>
                                    </select>
                                 </div>

                              </div>
                              <!-- /.card-body -->
                           </div>
                           <!-- /.card -->
                        </div>
                     </div>
                     <hr>
                     <div class="form-row">
                        <div class="col-md-12 col-sm-12">
                           <a href="" class="btn btn-secondary w-100p float-left">Back</a>
                           <span class="float-right">
                              <button type="submit" class="btn btn-success w-100p">EDIT</button>
                           </span>
                        </div>
                     </div>
                  </form>
                  <!-- /form -->
               </div>
               <!-- /.section-block -->
            </div>
            <!-- /.page-section -->
         </div>
         <!-- /.page-inner -->
      </div>
      <!-- /.page -->
   </div>
   <!-- /.wrapper -->
</main>
<!-- /.app-main -->
<div class="aside-backdrop"></div>
</div><!-- /.app -->
<div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog"
   aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
   <!-- .modal-dialog -->
   <div class="modal-dialog" role="document">
      <!-- .modal-content -->
      <div class="modal-content">
         <!-- .modal-header -->
         <div class="modal-header">
            <h5 class="modal-title">
               <i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error
            </h5>
         </div>
         <!-- /.modal-header -->
         <!-- .modal-body -->
         <div class="modal-body">
            <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the error
               remains the same, you need to contact your Administrator immediately.</p>
         </div>
         <!-- /.modal-body -->
         <!-- .modal-footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
         </div>
         <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- BEGIN BASE JS -->

<script src="{%static 'js/jquery.min.js' %}"></script>
{% comment %}
<script src="{%static 'js/popper.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script> <!-- END BASE JS --> {% endcomment %}
<!-- BEGIN PLUGINS JS -->
{% comment %}
<script src="{% static 'js/pace.min.js' %}"></script> {% endcomment %}
{% comment %}
<script src="{% static 'js/stacked-menu.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js'%}"></script><!-- END PLUGINS JS -->
<!-- Parsley -->
<script src="{%static 'js/parsley.js' %}"></script> {% endcomment %}
<!-- BEGIN THEME JS -->
{% comment %}
<script src="{%static 'js/theme.js' %}"></script>
<script src="{%static 'js/toastr.min.js' %}"></script>
<script src="{%static 'js/flatpickr.min.js' %}"></script> {% endcomment %}
{% comment %}
<script src="{%static 'js/select2.full.min.js' %}"></script>
<script src="{%static 'js/moment.js' %}"></script>
<script src="{%static 'js/mask-as-number.min.js' %}"></script>
<script src="{%static 'js/jquery.dataTables.min.js' %}"></script> {% endcomment %}
{% comment %}
<script src="{%static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{%static 'js/jquery.form.js' %}"></script>
<script src="{%static 'js/custom.min.js' %}"></script> {% endcomment %}
{% comment %}
<script type="text/javascript" src="{%static 'js/bootstrap-select.min.js' %}"></script> {% endcomment %}
{% comment %}
<script type="text/javascript" src="{%static 'js/filter-multi-select.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{%static 'js/bootstrap-tagsinput.min.js' %}"></script>
{% comment %}
<script type="text/javascript" src="{%static 'js/payouts.min.js' %}"></script> {% endcomment %}

<script>



</script>

<body onload="initialSelection()">

   <script>

      function initialSelection() {
         autoSelectOnLoad('product_name', "{{data.product_name|safe}}")
         autoSelectOnLoad('insurer', "{{data.insurer|safe}}")
         autoSelectOnLoad('sp_name', "{{data.sp_name|safe}}")
         autoSelectOnLoad('vehicle_makeby', "{{data.vehicle_makeby|safe}}")
         autoSelectOnLoad('vehicle_model', "{{data.vehicle_model|safe}}")
         autoSelectOnLoad('vehicle_catagory', "{{data.vehicle_catagory|safe}}")
         autoSelectOnLoad('vehicle_fuel_type', "{{data.vehicle_fuel_type|safe}}")
         autoSelectOnLoad('mfg_year', "{{data.mfg_year|safe}}")
         autoSelectOnLoad('addon', "{{data.addon|safe}}")
         autoSelectOnLoad('ncb', "{{data.ncb|safe}}")
         autoSelectOnLoad('gvw', "{{data.gvw|safe}}")
         autoSelectOnLoad('cubic_capacity', "{{data.cubic_capacity|safe}}")
         autoSelectOnLoad('seating_capacity', "{{data.seating_capacity|safe}}")
         autoSelectOnLoad('coverage_type', "{{data.coverage_type|safe}}")
         autoSelectOnLoad('case_type', "{{data.case_type|safe}}")
         autoSelectOnLoad('cpa', "{{data.cpa|safe}}")
         autoSelectOnLoad('rto', "{{data.rto_city|safe}}")
      }

      function autoSelectOnLoad(element_name, data) {
         let el = document.getElementById(element_name)
         // alert(data)
         if (data.includes(',')) {
            newData = data.split(',')
            for (let index = 0; index < newData.length; index++) {
               const value = newData[index];
               // alert(value)
               for (i = 0; i < el.options.length - 1; i++) {
                  if (el.options[i].value == value) {
                     el.options[i].selected = true
                  }
               }
            }
         }
         else {
            for (i = 0; i < el.options.length - 1; i++) {
               if (el.options[i].value == data) {
                  el.options[i].selected = true
               }
            }
         }
      }


      function autoSelectOnLoad2(element_name, data) {
         let el = document.getElementById(element_name)
         // alert(data)
         val = el.options[1].value
         alert(val)
         return
         if (data.includes(',')) {
            newData = data.split(',')
            for (let index = 0; index < newData.length; index++) {
               const value = newData[index];
               // alert(value)
               for (i = 0; i < el.options.length - 1; i++) {
                  if (el.options[i].value == value) {
                     el.options[i].selected = true
                  }
               }
            }
         }
         else {
            for (i = 0; i < el.options.length - 1; i++) {
               if (el.options[i].value == data) {
                  el.options[i].selected = true
               }
            }
            alert(data)

         }
      }


      function selectAllItems(name) {
         var item = document.getElementById(name)
         if (item.value == '*') {
            for (i = 0; i < item.length; i++) {
               item.options[i].selected = true
            }
         }
         item.options[item.options.length - 1].selected = false
      }

   </script>

</body>


</html>
{%endblock%}