{%extends "base.html"%}
{%block content%}
{% load static %}
<form method='POST' action="save/{{policyid}}">
    {% csrf_token %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="PayoutModalLabel" class="modal-title"> Payouts turned off</h5>
            </div>
            <div class="modal-body">
                <table class="table dataTable table-bordered">
                <tbody>
                    <tr>
                        <th class="text-center">Selecthello</th>
                        <th>Payout Name</th><th>Slab</th>
                        <th class="text-center">Agent OD Reward</th>
                        <th class="text-center">Agent TP Reward</th>
                        <th class="text-center">Self OD Reward</th>
                        <th class="text-center">Self TP Reward</th>
                       
                    </tr>
                    {%for value in data%}
                    <tr>
                        <td class="text-center">
                            <input type="radio" value="40" checked="" class="radio" name="payout">
                        </td>
                        <td>{{value.payout_name}}</td>
                        <td>{{value.slab_name_id}}</td>
                        <td class="text-center">{{value.agent_od_reward}}%</td>
                        <td class="text-center">{{value.agent_tp_reward}}%</td>
                        <td class="text-center">%</td>
                        <td class="text-center">%</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="modal-footer">
                <button type='submit' name='submit' class="btn btn-primary w-100p">Apply</button>
            </div>
        </div>
    </div>
</div>
</form>
{%endblock%}